@keyframes loader {
  40% {
    height: 0;
  }
  80% {
    height: 100vh;
  }
  90% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}
@keyframes headerAnimationHide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10rem);
    opacity: 0;
  }
}
@keyframes headerAnimationShow {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes cursorReveal {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotateZ(30deg) translate(-20rem, -20rem);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) rotateZ(-30deg) translate(0rem, 0rem);
  }
}
@keyframes cursorHide {
  0% {
    opacity: 1;
    transform: scale(1, 1) rotateZ(-30deg) translate(0rem, 0rem);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0) rotateZ(30deg) translate(-20rem, -20rem);
  }
}
@keyframes markAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -1288;
  }
}
@keyframes levitation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #5214ff;
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.heading-primary {
  font-family: "Russo One", sans-serif;
  font-size: 17vw;
  color: #000;
}

.heading-secondary {
  font-family: "Russo One", sans-serif;
  font-size: 8vw;
  line-height: 0.9;
  color: #000;
}

.heading-tertiary {
  font-family: "Russo One", sans-serif;
  font-size: 3.5vw;
  line-height: 0.9;
  color: #000;
}

.text {
  font-size: 2rem;
}

.text-big {
  font-size: 2.3rem;
}

.u-margin-bottom {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 10rem !important;
}

.u-margin-top {
  margin-top: 20rem !important;
}

.loading {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
}
.loader svg {
  position: absolute;
  top: 0;
  left: 0;
}
.loader__text {
  width: 100vw;
  transform: rotateZ(-6deg) scale(1.1, 1.1);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  height: 0;
  animation: loader 3.5s ease both;
}
.loader__text span {
  display: block;
  font-size: 33vw;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.cursor.active {
  opacity: 1;
  animation: cursorReveal 0.5s ease-in-out both;
}
.cursor.hide {
  opacity: 1;
  animation: cursorHide 0.5s ease-in-out both;
}

.cursor-1 {
  position: absolute;
  height: 0.5rem;
  width: 6rem;
  background: #fff;
  pointer-events: none;
  z-index: 20000;
  transition: 0.2s linear;
  transform-origin: center;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.7, 0.7);
}
.cursor-1::before, .cursor-1::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform-origin: right;
  transform: translateY(calc(-50% + 1px)) rotateZ(45deg);
  right: 0rem;
  height: 0.5rem;
  width: 3rem;
  background: #fff;
}
.cursor-1::after {
  transform: translateY(calc(-50% - 1px)) rotateZ(-45deg);
}

.cursor-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 10rem;
  background-color: #000;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  transition: 0.2s linear;
  opacity: 1;
}

.cursor-2.active {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 3rem;
  z-index: 2000;
}
.header__main {
  display: flex;
  justify-content: space-between;
}
.header__logo svg {
  width: 6vw;
  fill: #fff;
}
.header__wrapper {
  list-style: none;
  display: flex;
  gap: 4rem;
  align-items: center;
}
.header__wrapper li a {
  position: relative;
}
.header__wrapper li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3rem;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #fff;
  transition: 0.3s;
}
.header__wrapper li a:hover::after {
  opacity: 1;
  bottom: -2rem;
}

.footer {
  padding: 4rem 3rem;
  padding-bottom: 5rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.footer__logo svg {
  fill: #fff;
}
.footer__links {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.footer__links p,
.footer__links li {
  opacity: 0.5;
}
.footer__links p:last-child {
  margin-left: auto;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footer__icons i {
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
