// --------------- 01 TYPOGRAPHY SYSTEM ---------------
//FONT FAMILY
$default-font-family: "Poppins", sans-serif;
$heading-font-family: "Russo One", sans-serif;

//FONT SIZE
$heading-primary-font-size: 17vw;
$heading-secondary-font-size: 8vw;
$heading-tertiary-font-size: 3.5vw;

//FONT WEIGHTS
//- Light: 300;
//- Regular: 400;
//- Bold: 700;

//FONT HEIGHTS
// default: 1

// LETTER SPACING

// --------------- 02 COLORS ---------------
$background-color: #5214ff;
$background-color-1: #ff001f;

// --------------- 03 SHADOWS ---------------

// --------------- 04 BORDER-RADIUS ---------------

// --------------- 05 GRID ---------------
