@use "../abstracts/variables" as var;

body {
  background: var.$background-color-1;
}

.header {
  svg {
    fill: #000;
  }
}

a {
  color: #000;
}

.projects {
  padding-top: 20rem;
  padding-bottom: 12rem;
  overflow: hidden;

  &__wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: max-content;
    display: block;
    overflow: hidden;
    margin-top: -5rem;

    &:hover {
      .heading-primary::before {
        height: 100%;
      }

      .ticker {
        width: 110vw;
      }
    }

    .heading-primary {
      display: inline-block;
      line-height: 0.9;
      padding-left: 5rem;
      margin-right: 50px;
      position: relative;

      &::before {
        content: attr(data-text);
        display: block;
        position: absolute;
        padding-left: 5rem;
        left: 0;
        top: 0;
        color: #fff;
        overflow: hidden;
        height: 0%;
        transition: 0.5s ease-out 0.1s;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 280px;
      border: 6px solid #fff;
      transform: translate(-50%, 0%) rotate(5deg);
      display: none;
      animation: showProject 0.5s both;
      pointer-events: none;

      &.active {
        display: block;
        z-index: 1;
      }
    }

    .ticker {
      padding: 1rem 0;
      position: relative;
      overflow: hidden;
      height: 7rem;
      top: -10rem;
      left: -5rem;
      transform: rotateZ(-4deg);
      pointer-events: none;
      width: 0vw;
      transform-origin: left;
      transition: width 0.5s ease-out 0.1s;

      .track {
        position: absolute;
        top: 50%;
        display: flex;
        gap: 3rem;
        background-color: #ffce00;
        width: max-content;
        align-items: center;
        animation: moveInfinite 10s linear infinite both;

        .dot {
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

@keyframes showProject {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes moveInfinite {
  from {
    left: 0%;
  }

  to {
    left: -20%;
  }
}
